body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(to bottom, #8b5ca1, #93c9fe);
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
}

main {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #93c9fe;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: linear-gradient(to bottom, #8b5ca1, #93c9fe);
}
